.modal-container {
  margin: auto;
  width: 600px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border: 1px solid #888;
  border-radius: 6px;
}
.save-user-account {
  margin-top: 120px;
  border-radius: 6px;
}
.publish-panel {
  margin-top: 60px;
  padding: 10px 30px;
}
.module-search {
  width: 700px;
  margin-top: 100px;
  font-size: 22px;
  color: #333;
}
.module-search .input-wrapper {
  padding: 0 16px;
  line-height: 46px;
}
.module-search input {
  margin-left: 8px;
  border: 0;
  outline: none;
  width: 540px;
  background: transparent;
  line-height: 46px;
  height: 46px;
}
.module-search input::-ms-clear {
  display: none;
}
.module-search .no-results {
  float: right;
  color: #ccc;
  margin-top: -38px;
  margin-right: 12px;
}
.module-search .results-section {
  border-top: 1px solid #888;
}
.module-search .selected-details {
  width: 418px;
  padding: 12px 18px;
  overflow: scroll;
  height: 420px;
  font-size: 14px;
}
.module-search .selected-details .header-details .name {
  font-size: 24px;
}
.module-search .selected-details .header-details .version {
  font-size: 24px;
  color: #aaa;
}
.module-search .selected-details .header-details .description {
  margin-top: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}
.module-search .no-selection {
  color: #ccc;
}
.module-search .noreadme {
  margin-top: 16px;
  font-size: 18px;
  color: #ccc;
}
.module-search .readme {
  margin-top: 16px;
}
.module-search .readme img {
  max-width: 380px;
}
.module-search .readme .package-name-redundant,
.module-search .readme .package-description-redundant {
  display: none;
}
.module-search .result-list {
  border-right: 1px solid #ccc;
  overflow: scroll;
  height: 420px;
  width: 280px;
  float: left;
}
.module-search .result-list .module-result {
  padding: 6px 16px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.module-search .result-list .module-result:hover {
  background-color: #e1e1e1;
}
.module-search .result-list .module-result.selected {
  background-color: #115fc3;
  color: white;
}
.module-result .name {
  font-weight: bold;
  padding-right: 8px;
}
.module-result .version {
  color: #aaa;
  padding-right: 8px;
  font-size: 90%;
}
.module-result .require-button {
  position: absolute;
  right: 12px;
  top: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.embedded-notebook {
  width: calc(100% - 200px);
  margin: auto;
}
.embedded-notebook .cell-container {
  padding: 0;
  margin: 0;
  width: 100%;
}
.embedded-notebook .cell-content {
  width: 100%;
}
.embedded-notebook .object-description {
  margin: 0;
  width: 100%;
}
.embedded-notebook .source-editor,
.embedded-notebook .source-editor .prerender,
.embedded-notebook .source-editor .CodeMirror-scroll,
.embedded-notebook .source-editor .CodeMirror-lines {
  min-height: 100px;
}
/* Source Editor */
.cm-read-only .CodeMirror-cursor {
  visibility: hidden !important;
}
.source-editor,
.source-viewer {
  position: relative;
}
.source-editor textarea,
.source-viewer textarea {
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  resize: none;
}
.source-editor .gutter,
.source-viewer .gutter {
  width: 28px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.source-editor .CodeMirror,
.source-viewer .CodeMirror {
  height: auto !important;
}
.source-viewer .CodeMirror-scroll {
  min-height: 1em;
  max-height: 300px;
}
.regexp-results textarea {
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  resize: none;
}
.regexp-results .CodeMirror {
  height: auto !important;
}
.regexp-results {
  min-height: 30px;
  display: block;
  width: 100%;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #888;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.regex-highlight {
  background-color: rgba(21, 179, 0, 0.3);
}
.CodeMirror-placeholder {
  color: #aaa !important;
}
.remove-variable {
  width: 32px;
  fontSize: 115%;
  color: #eba0a0;
  background: transparent;
  border: 0;
}
.remove-variable:hover {
  color: #c80000;
}
.environment-page input {
  font-family: source-code-pro, monospace;
}
.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.site-navigation hr {
  margin: 10px 16px;
  padding: 0;
}
.site-navigation .mobile-only {
  display: none;
}
.site-navigation .user-dropdown .t {
  width: 48px;
  height: 48px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  padding-left: 17px;
  padding-top: 6px;
  margin: 16px 12px 8px 12px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.site-navigation .user-dropdown .menu-wrapper {
  display: none;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.2);
  background-color: white;
  margin: 16px 12px 8px 12px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 16px;
}
.site-navigation .user-dropdown .menu-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 17px;
  min-width: 200px;
}
.site-navigation .user-dropdown:hover .menu-wrapper {
  display: block;
}
.site-navigation .user-dropdown .menu-item {
  font-size: 15px;
  line-height: 24px;
  margin: 2px 8px;
  padding: 2px 9px;
}
.site-navigation .user-dropdown .menu-item:hover {
  background-color: #f5f5f5;
}
.site-navigation .user-dropdown .menu-item a {
  text-decoration: none;
  color: #333;
  width: 100%;
  display: inline-block;
}
.site-navigation .toolbar-button .circle-element {
  fill: #d8d8d8;
}
.site-navigation .toolbar-button .icon-element {
  fill: #ddd;
}
.site-navigation .toolbar-button:hover .circle-element,
.site-navigation .toolbar-button:hover .icon-element {
  fill: #333;
}
.site-navigation .toolbar-button.dangerous:hover .circle-element,
.site-navigation .toolbar-button.dangerous:hover .icon-element {
  fill: #d86750;
}
.site-navigation .toolbar-button .t-svg {
  float: left;
}
.site-navigation .toolbar-button .t-tooltip {
  display: none;
  float: right;
  margin-left: 8px;
  background-color: #333;
  color: white;
  padding: 4px 6px 2px 6px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.2);
  margin-top: 2px;
}
.site-navigation .toolbar-button:hover .t-tooltip {
  display: block;
}
.site-navigation .toolbar-button.dangerous .t-tooltip {
  background-color: #d86750;
}
#home-page .site-navigation,
.static-page .site-navigation,
.mobile .site-navigation {
  position: absolute;
}
.mobile .toolbar-button {
  display: none;
}
.mobile .site-navigation .mobile-only {
  display: block;
}
.mobile .site-navigation .toolbar-separator {
  display: none;
}
.mobile .site-navigation .user-dropdown:hover .menu-wrapper {
  display: none;
}
/*
.mobile .site-navigation .toolbar-button:hover .t-tooltip {
    display: none;
}

.mobile .site-navigation .toolbar-button:hover .circle-element,
.mobile .site-navigation .toolbar-button:hover .icon-element {
    fill: #d8d8d8;
}
*/
.static-page {
  padding: 20px 120px;
}
.static-page hr.wide-margin {
  margin: 40px 0;
}
.static-page kbd.prompt:before {
  content: "> ";
  color: orange;
}
footer {
  text-align: center;
  line-height: 2em;
  padding: 40px 0;
}
#copy {
  color: #d8d8d8;
}
#copy a {
  color: #d8d8d8;
}
#copy a:hover {
  color: #d8d8d8;
}
.tonic-static-example {
  margin: 30px 0;
  font-family: source-code-pro, monospace;
  font-size: 15px;
  border: 1px solid #e5e9ef;
  background-color: #fcfcfc;
}
.endpoint-logs .overview {
  border-bottom: 1px solid #e1e1e1;
  font-size: 18px;
}
.endpoint-logs .overview button {
  background: transparent;
  border: 0;
  outline: none;
}
.endpoint-logs .detail-wrapper {
  font-size: 14px;
}
.endpoint-logs .detail-wrapper ul {
  margin: 0 3em;
  padding: 0;
  display: table;
  border-collapse: collapse;
}
.endpoint-logs .detail-wrapper li {
  list-style-type: none;
  margin: 4px 0;
  border-bottom: 1px solid #f6f6f6;
  display: table-row;
}
.endpoint-logs .status {
  float: right;
  font-weight: bold;
}
.endpoint-logs .method {
  font-weight: bold;
}
.endpoint-logs .url {
  padding: 0 8px;
}
.endpoint-logs .timestamp {
  color: #aaa;
  font-style: italic;
}
.endpoint-logs .duration {
  float: right;
  margin-right: 8px;
  font-size: 80%;
  line-height: 28px;
  color: #aaa;
}
.endpoint-logs h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 1em;
  padding: 0;
}
.endpoint-logs .header-key {
  color: #999;
  display: table-cell;
  padding: 3px 0;
  width: 200px;
}
.endpoint-logs .header-value {
  display: table-cell;
}
.endpoint-logs .body {
  margin-left: 3em;
  white-space: pre-wrap;
}
/* Top Level */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'fira-sans', sans-serif;
}
.mobile-only {
  display: none !important;
}
.mobile .mobile-only {
  display: initial !important;
}
#react-container {
  padding: 0;
  margin: 0;
}
.page-sizer {
  min-width: 768px;
  max-width: 1100px;
  width: 85%;
  padding: 40px 100px 80px 100px;
  margin: auto;
}
.mobile .page-sizer {
  width: 100%;
}
/* search button */
.search-button {
  position: fixed;
  top: 16px;
  right: 16px;
  zIndex: 100;
}
.mobile .search-button {
  position: absolute;
}
.mobile .source-cell-wrapper .search-button {
  display: none;
}
/* help text */
.blank-doc-help {
  position: relative;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  margin-top: 50px;
  font-size: 13px;
}
.blank-doc-help li {
  list-style-type: circle;
  margin-top: 0.75em;
}
.blank-doc-help .close-icon {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ccc;
}
.blank-doc-help .close-icon:hover {
  color: #333;
}
/* Cells */
.cell-container {
  margin-top: 25px;
  padding: 0px;
  position: relative;
}
.cell-controls {
  position: absolute;
  right: 0;
  color: #ccc;
  opacity: 0;
  width: 50%;
  text-align: right;
}
.mobile-cell-controls {
  display: none;
  position: absolute;
  top: 4px;
  right: -96px;
  height: 22px;
  width: 30px;
}
.mobile .cell-controls {
  display: none;
}
.mobile .mobile-cell-controls {
  display: block;
}
.mobile-cell-controls button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  padding: 0;
  margin: 0;
  color: #8d8d8d;
  background-color: white;
  border: 1px solid #e0e2e5;
  font-size: 12px;
}
.mobile-cell-controls select {
  position: absolute;
  width: 30px;
  height: 22px;
  outline: none;
  border: none;
  opacity: 0;
}
.cell-controls .fa {
  padding: 2px 4px;
  margin: 0px 2px;
  cursor: pointer;
}
.cell-container:hover .cell-controls,
.cell-controls:hover {
  opacity: 1;
}
.cell-controls .fa:hover {
  color: #333;
}
.tonic-icon {
  position: relative;
}
.tonic-icon:hover .icon-tooltip {
  display: block;
}
.tonic-icon .icon-tooltip {
  display: none;
  position: absolute;
  right: 0;
  width: 120px;
  bottom: -22px;
  z-index: 100;
  background-color: #333;
  color: white;
  padding: 4px 0;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  /* This is unfortunate (it's because we are nesting the tooltip inside a font awesome tag) */
  font-family: 'fira-sans', sans-serif;
}
/* Rich Text Editor */
.rich-text-editor {
  font-size: 16px;
}
.rich-text-editor textarea {
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  resize: none;
}
.rich-text-editor .prerender {
  width: 100%;
  padding: 4px;
  line-height: 1.5em;
  white-space: pre-wrap;
}
.rich-text-editor .CodeMirror {
  height: auto;
  line-height: 1.5em;
  font-family: 'fira-sans', sans-serif;
}
.cm-read-only .cm-link {
  cursor: pointer;
}
.out-of-date {
  opacity: 0.5;
}
/* misc notebook rules*/
.notebook-end-clone-btn {
  color: #888;
  border: 1px solid #ccc;
}
.notebook-end-clone-btn:hover {
  color: #333;
  border: 1px solid #333;
}
/* globals */
table {
  width: 100%;
}
td {
  width: 1px;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p,
ul {
  margin: 15px 0;
}
ul {
  padding-left: 30px;
}
.flexBox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.text-hover-underline {
  text-decoration: none;
}
.text-hover-underline:hover {
  text-decoration: underline;
}
button:focus {
  outline: 0;
}
.c3 .c3-axis path,
.c3 .c3-axis line {
  stroke: #d2d2d2;
}
.c3-xgrid,
.c3-ygrid {
  stroke-dasharray: none;
}
.c3-grid line {
  stroke: #f3f3f3;
}
