/* neo theme for codemirror */

/* Color scheme */

.cm-s-tonic.CodeMirror, .source-editor .prerender, .source-viewer .prerender {
  color:#2e383c;
  line-height:1.4375;
  font-family: source-code-pro, monospace;
  font-size: 15px;
  background-color: transparent;
}

.cm-s-tonic .cm-comment {color:#75787b}
.cm-s-tonic .cm-keyword, .cm-s-tonic .cm-property {color:#1d75b3}
.cm-s-tonic .cm-atom,.cm-s-tonic .cm-number {color:#75438a}
.cm-s-tonic .cm-node,.cm-s-tonic .cm-tag {color:#9c3328}
.cm-s-tonic .cm-string {color:#b35e14}
.cm-s-tonic .cm-variable,.cm-s-tonic .cm-qualifier {color:#047d65}

.cm-s-tonic .CodeMirror-lines
{
    background-color: #ffffff;
}

/* Editor styling */

.cm-s-tonic pre {
  padding:0;
}

.cm-s-tonic .CodeMirror-matchingbracket {
  color: #F0F !important; /* this isn't really themeable. */
}

.cm-s-tonic .CodeMirror-gutters {
  border:none;
  background-color:transparent;
}

.cm-s-tonic .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
  margin-left:-17px;
}

.cm-s-tonic .CodeMirror-linenumbers {
  width:35px; /*codemirror adds 1.   */
}

.cm-s-tonic .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-tonic .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-tonic div.CodeMirror-cursor {
  width: 1px;
  border: 0;
  background: #2e383c;
  z-index: 1;
}

.cm-s-tonic .CodeMirror-lines
{
    padding: 4px 8px 4px 8px;
    border: 1px solid #e5e9ef;
}

/* TONIC PRE-RENDER */

.source-editor .prerender, .source-viewer .prerender
{
    border: 1px solid #e5e9ef;
    padding: 4px 4px 4px 8px;
    margin-left: 36px;
    white-space: pre;
    overflow-x: hidden;
    min-height: 30px;
    background-color: white;
}
