/* neo theme for codemirror */

/* Color scheme */

.cm-s-tonic-general.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
  font-family: source-code-pro, monospace;
  font-size: 15px;
}
.cm-s-tonic-general .cm-comment {color:#75787b}
.cm-s-tonic-general .cm-keyword, .cm-s-tonic-general .cm-property {color:#1d75b3}
.cm-s-tonic-general .cm-atom,.cm-s-tonic-general .cm-number {color:#75438a}
.cm-s-tonic-general .cm-node,.cm-s-tonic-general .cm-tag {color:#9c3328}
.cm-s-tonic-general .cm-string {color:#b35e14}
.cm-s-tonic-general .cm-variable,.cm-s-tonic-general .cm-qualifier {color:#047d65}


/* Editor styling */

.cm-s-tonic-general pre {
  padding:0;
}

.cm-s-tonic-general .CodeMirror-gutter {
    width: 40px;
}

.cm-s-tonic-general .CodeMirror-linenumber {
  padding:0;
  margin-left:-10px;
}

.cm-s-tonic-general .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-tonic-general .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-tonic-general div.CodeMirror-cursor {
  width: 1px;
  border: 0;
  background: #2e383c;
  z-index: 1;
}

.cm-s-tonic-general .CodeMirror-lines
{
    padding: 4px 8px 4px 8px;
}
