.error-page {
  margin: 20pt auto;
  text-align: center;
}
.error-page #header h1 {
  font-size: 72px;
  font-family: Helvetica Neue;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
.error-page #header .description {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 42px;
  margin-bottom: 50px;
  color: #999;
}
.error-page .module-search {
  margin: 10pt 0 25pt;
}
.error-page .npm-search {
  text-align: left;
  margin: 1em 0;
}
.npm-logo {
  position: absolute;
  top: 3em;
  right: 3em;
  background: url(/assets/images/npm-logo.svg);
  background-size: 80px 31px;
  width: 0;
  height: 0;
  display: block;
  padding-left: 80px;
  padding-top: 31px;
  overflow: hidden;
}
.error {
  background-color: rgba(204, 122, 111, 0.0980392);
  border-left: 5px solid rgba(191, 87, 73, 0.2);
  box-sizing: border-box;
  color: #484848;
  font-family: fira-sans, sans-serif;
  line-height: 20.4799995422363px;
  padding: 2em 1em;
  margin-bottom: 100px;
}
.report-button {
  display: inline-block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  margin: 30px 0 10px 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: solid 0px #0076a3;
  background: #d96411;
}
.contact-buttons .button {
  color: #fff;
  background: transparent;
  border: 1pt solid #28AFFA;
  background-color: #28AFFA;
  border-radius: 3pt;
  text-decoration: none;
  text-align: center;
  padding: 7pt 10pt;
  display: inline-block;
  font-size: 11pt;
  line-height: 12pt;
  min-width: 100pt;
}
.contact-buttons .button.secondary {
  border-color: #ccc;
  color: #999;
  background: transparent;
}
