#npm-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #cb3837;
  color: #f5d7d7;
}
#npm-footer .description a {
  color: white;
  font-weight: bold;
}
#npm-footer .btn {
  margin-left: 12px;
  border: 2px solid #f5d7d7;
  color: #f5d7d7;
  background-color: transparent;
}
#npm-footer .btn:hover {
  background-color: red;
  color: white;
  border: 2px solid white;
}
.npm-search .module-search .result-list .module-result:hover {
  background-color: #f6f6f6;
}
.npm-search .module-result-link:hover {
  text-decoration: none;
}
.npm-search .module-search .result-list .module-result {
  color: #333;
  padding: 12px 16px;
}
.npm-search .input-wrapper {
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border: 1px solid #888;
  border-radius: 6px;
}
.npm-search .module-search .results-section {
  border-top: none;
  padding-top: 24px;
  margin-bottom: 100px;
}
.npm-search .module-search .result-list {
  border: none;
  overflow: auto;
  height: auto;
  width: auto;
  float: none;
}
.npm-search .modal-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.npm-search .module-result .homepage {
  color: #aaa;
  font-size: 90%;
}
.npm-search .homepage button {
  border: none;
  background: transparent;
}
.npm-search .homepage button:hover {
  text-decoration: underline;
}
