@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: #f7f7f8;
    font-family: 'Inter', sans-serif;
    color: #333;
    line-height: 1.8;
    max-width: 600px;
    margin: auto;
  }
  
  /* Layout */
  footer {
    border-top: #d4d4d4 solid 1px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: right;
  }
  
  /* Nav */
  nav h1 {
    margin-bottom: 0;
  }
  nav ul{
    padding: 0;
    margin: 0;
  }
  nav li, footer li {
    display: inline;
    margin-left: 0;
  }
  nav li:not(:first-child)::before, footer li:not(:first-child)::before {
    content: " · ";
  }
  
  /* Typography */
  article h1 {
    font-size: 2em;
  }
  a {
    color: rgb(1, 123, 150);
  }
  a:hover {
    text-decoration: none;
  }