/* Reference colours

Green: #75b5aa
Darker grey: #ebe9e8
Pale grey: #f8f7f7
Text grey: #4d4d4d
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Work+Sans:500');

body {
    color: #4d4d4d;
    background-color: #f8f7f7;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: #75b5aa;
}
a:hover {
    text-decoration: underline;
}
.project-link {
    text-decoration: none;
}
h1 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
h2 {
    padding-top: 20px;
    font-family: 'Work Sans', sans-serif;
}
h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}
blockquote {
    background: #fff;
    border-left: 10px solid #ebe9e8;
    margin: 30px 30px;
    padding: 10px 20px 20px 20px;
}
nav {
    color: #fff;
    background-color: #75b5aa;
    padding: 10px 25px;
    font-family: 'Work Sans', sans-serif;
}
nav a {
    color: #fff;
    margin: 0;
    display: block;
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav li {
    margin-right: 20px;
    list-style: none;
    align-items: center;
    display: flex;
}
header {
    background-color: #ebe9e8;
    margin: 0;
    display: block;
    padding: 40px 25px;
}
header h3 {
    opacity: 0.7;
}
main {
    font-size: 20px;
    line-height: 35px;
    min-height: 70vh;
}
article {
    max-width: 700px;
    margin: 15px;
}
article small {
    opacity: 0.7;
}
article img {
    max-width: 700px;
}
footer {
    color: #fff;
    background-color: #75b5aa;
    padding: 20px 10vw;
    display: block;
}
footer a {
    color: #fff;
    text-decoration: none;
}
main {
    padding-bottom: 30px;
}
.push-left {
    font-size: 1.5em;
}
.card-grid, .blog-index {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
}
.card-grid li {
    list-style: none;
}
.card {
    width: 100%;
    height: auto;
    margin: 10px 20px 10px 0px;
    background-color: #fff;
    display: block;
    overflow: hidden;
    background-size: cover;
}
.card-image {
    padding: 0 0 100vw 50vw;
    margin: 0;
    background-size: cover;
}
.card h3 {
    padding: 25px 25px 0px 25px;
    margin: 0;
}
.card p {
    padding: 0px 25px 0px 25px;
}
.blog-index a {
    text-decoration: none;
}
.blog-index a:hover {
    text-decoration: underline;
}
.blog-index em {
    opacity: 0.5;
}
.blog-card {
    padding: 25px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
    display: block;
    overflow: hidden;
    width: 100%;
}
.social-media {
    width: 30px;
    padding-right: 10px;
}
.profile-photo {
    width: 45%;
    float: right;
    margin: 0px 30px 30px 30px;
    border-radius: 50%;
}
.read-all {
    margin-top: 40px;
    display: block;
}
.homepage {
    padding-left: 25px;
}
.footnotes {
    font-size: 0.9em;
}
.footnotes p {
    margin-bottom: 0;
}
.footnotes ol {
    padding-left: 1.2em;
}
.footnote-backref {
    font-size: 0.7em;
}
@media only screen and (min-width: 600px) {
    main {
        padding: 40px 10vw;
   }
    header {
        padding: 40px 10vw;
   }
    nav {
        padding: 10px 10vw;
   }
    article {
        margin: 0;
    }
    .card {
        width: 350px;
        height: 350px;
   }
    .card-image {
        padding: 0;
        background-size: cover;
        margin: 10px 20px 20px 0;
   }
    .push-left {
        margin-right: auto;
        font-size: 2em;
   }
    .homepage {
        padding: 0;
   }
}